.card {
    max-width: 600px;
    margin: 0 auto 50px;


}

#header {
    padding: 30px;
}

h1 {
    text-align: center;
}

#footer {
    padding: 30px;
    background-color: #333333;
}

#p {
    padding-top: 10px;
}

#info {
    padding: 20px
}


#pfooter {
    color: white;

}

body {
    background-color: #e6e6e6;
}